@model IEnumerable<GeekGang.Models.Meetup>
@{
    ViewBag.Title = "MyMeetups";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
<!DOCTYPE html>

<html>
<head>
    <title>My Meetups</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        td {
            padding: 0px 10px 0px 10px;
        }
    </style>
</head>
<body>
    <h4>Meetup List</h4>
    @if (Model.Count() > 0)
    {
        <table>
            <tr>
                <td>Sr.No.</td>
                <td>Title</td>
                <td>Host</td>
                <td>Location</td>
                <td>Date</td>
                <td>Time</td>
                <td>Capacity</td>
                <td>Going</td>
                <td>More</td>
            </tr>
            @foreach (GeekGang.Models.Meetup meetup in Model)
            {
                <tr>
                    @{ i++;}
                    <td>@i</td>
                    <td>@meetup.title</td>
                    <td>@meetup.host_id</td>
                    <td>@meetup.location</td>
                    <td>@meetup.date_time.ToString("d MMMM yyyy")</td>
                    <td>@meetup.date_time.ToString("h:mm tt")</td>
                    <td>@meetup.attendees_limit</td>
                    <td>@meetup.attendees_count</td>
                    <td>
                        <table>
                            <tr>
                                <td><a class="btn btn-light" style="color:orange" href='@Url.Action("Details", "Meetup", new { id=meetup.id})'>Details</a></td>
                                <td><a class="btn btn-light" style="color:lawngreen" href='@Url.Action("Update", "Host", new { id=meetup.id})'>Edit</a></td>
                                <td><a class="btn btn-light" style="color:gold" href='@Url.Action("UserRequests", "Host", new { id=meetup.id})'>User Requests</a></td>
                                <td><a class="btn btn-light" style="color:red" href='@Url.Action("Delete", "Host", new { id=meetup.id})'>Cancel Meet</a></td>
                            </tr>
                        </table>
                    </td>
                    @*<td>@Html.ActionLink("ShowMe", "Details", "Meetup", new { id=meetup.id})</td>*@
                </tr>
            }
        </table>
                        }
                        else
                        {
                            <h4>You Haven't Hosted any Meets Yet.</h4>
                        }

</body>
</html>
